.Menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 24px;
    background-color: #444;
    color: #fff;

    li {
        display: inline-block;
        height: 100%;
    }
    .Button {
        height: 100%;
        padding: 3px;
        border: 1px solid #222;
        background-color: #ffb;
        font-size: 9pt;
    }
}
