$control-panel-height: 130px;

.ControlPanel {
    height: $control-panel-height;
    display: flex;
    justify-content: left;

    overflow: scroll hidden;
    width: 100%;
    background-color: #fff;
    border: 2px solid #000;
    border-right: none;
    border-left: none;
    z-index: 1;
}
