.AnimatedLabel {
    position: relative;
    width: 80%;

    &Input {
        width: 100%;

        &:focus, &:not(:placeholder-shown) {
            ~ .AnimatedLabelLabel {
                transform: translateY(-65%);
                font-size: 0.8em;
            }
        }
    }

    &Label {
        padding: 0 15px;
        border-radius: 15px;
        background-color: #fff;
        position: absolute;
        left: 5px;
        transform: translateY(25%);
        pointer-events: none;
        transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
}

.Main {

    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    overflow: hidden;

    &NewProjectArea {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 30px;
    }

    &Title {
        text-align: center;
        margin-bottom: 50px;
    }

    &NewText {
        font-size: 16px;
        height: 36px;
        padding-left: 10px;

        outline: none;
        border: 3px solid #000;
        border-right: none;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;


        ~ label {
            font-size: 20px;
        }
    }
    &NewButton {
        width: 20%;
        height: 36px;
        border: 3px solid #000;
        border-left: none;

        background-color: #6ad45c;
        color: white;
        font-weight: bold;
        font-size: 16px;

        cursor: pointer;

        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    &NewButton:hover {
        color: #129c00;
    }
    &List {
        height: 70%;
        overflow-y: auto;
        margin-top: 10px;

        display: flex;
        flex-direction: column;
        max-height: 480px;

        &Project {
            margin: 8px 0;
            flex-shrink: 0;
            padding: 5px;
            height: 50px;
            width: 100%;

            &Body {
                display: flex;
                align-items: center;

                float: left;
                width: 86%;
                height: 100%;
                padding: 10px;

                border: 3px solid #1181d8;
                background-color: white;
                border-radius: 14px;

                cursor: pointer;
                transition: 0.2s;
            }
            &Body:hover {
                background-color: #88bfe9;
            }
            &Delete {
                display: flex;
                justify-content: center;
                align-items: center;

                float: right;
                width: 10%;
                height: 100%;
                line-height: 100%;
                margin-left: 12px;

                border: 3px solid darkred;
                background-color: white;
                background-color: rgb(253, 106, 106);
                border-radius: 14px;
                color: white;

                cursor: pointer;
                transition: 0.2s;

                text-align: center;
                font-weight: bold;
            }
            &Delete:hover {
                color: darkred;
            }
        }
    }
}
