.Main {
    &NewText {
        width: 80%;
        height: 36px;
    }
    &NewButton {
        margin: 10px 0 10px 0;
        width: 20%;
        height: 36px;
    }
    &List {
        overflow-y: scroll;
        margin-top: 10px;

        display: flex;
        flex-direction: column;
        max-height: 480px;
        &Project {
            flex-shrink: 0;
            margin-bottom: 12px;
            height: 50px;
            width: 100%;
            padding: 10px;

            border: 3px solid #1181d8;
            background-color: white;
            border-radius: 14px;
        }
    }
}
