.Main {

    &Title {
        font-weight: bold;
        font-size: 24px;
        text-align: center;
    }
    &Section {
        margin: 10px 0 40px;

        padding: 10px;
        border: 1px solid black;
        border-radius: 6px;

        input {
            float: right;
        }

        &Slider {
            width: 50%;
        }
    }

    &Label {
        &Value {
            font-weight: bold;
            padding-left: 5px;
        }
    }
}
