.Main {
    p {
        margin: 12px 0 6px 12px;
        font-weight: bold;
    }
    &Section {
        padding: 10px;
        border: 1px solid black;
        border-radius: 6px;

        input {
            float: right;
        }
        &GridSlider {
            width: 60%;
        }
    }
}
