.LogicGate {

    $input-size: 20px;
    $min-gate-height: 60px;

    width: 100px;

    height: max-content;
    min-height: $min-gate-height;

    position: absolute;

    border: 3px solid #000;
    border-radius: 15px;

    cursor: pointer;

    box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 1);

    &AND {
        background-color: cornflowerblue;
    }

    &OR {
        background-color: chocolate;
    }
    &NOT {
        background-color: red;
    }

    button {
        height: $input-size;
        width: $input-size;

        border: 2px solid #000;
        border-radius: 100%;
        cursor: pointer;
    }

    &Inputs, &Outputs {
        min-height: $min-gate-height;
        width: $input-size;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        position: relative;

        button {
            margin: 2px 0;
        }
    }
    &Inputs {
        float: left;
        left: calc($input-size / -2);
    }
    &Outputs {
        float: right;
        right: calc($input-size / -2);
    }

    &Value {

        font-size: 75%;

        pointer-events: none;

        position: absolute;
        text-align: center;
        top: 50%;
        right: 0;
        left: 0;

        transform: translateY(-50%);


    }
}
