.LogicGate {
    width: 50px;
    height: 50px;

    position: relative;

    border: 1px solid #000;

    &AND {
        background-color: cornflowerblue;
    }

    &OR {
        background-color: chocolate;
    }

    button {
        height: 5px;
        width: 5px;
        border: 1px solid #000;

        cursor: pointer;
        position: absolute;
        bottom: 15%;
    }

    &Input {
        &:first-of-type {
            top: 15%;
        }
    }

    &Output {
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
    }
}
