* {
    box-sizing: border-box;
    margin: 0;
}

.Application {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.Canvas {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-flow: row;
}

.Board {
    height: 100%;
    flex-grow: 1;
}

.InputArea, .OutputArea {
    position: relative;
    height: 100%;
    width: 50px;
    padding: 4px 0;
    background-color: lightslategray;
}
.InputArea > div{ // dla Node-ów
    left: 0px;
}
.InputArea > div > div{
    float: left;
}
.OutputArea > div{ // dla Node-ów
    right: 0px;
}
.OutputArea > div > div{
    float: right;
}
