.Wire {
    position: absolute;
    top: 50%;

    stroke: #000;
    stroke-width: 5;
    fill: transparent;

    &HighState {
        stroke: lime;
    }

    &LowState {
        stroke: red;
    }

}