.Wire {
    // jakby cos sie stalo z klasami opartymi na stanie
    stroke: #000;

    user-select: none;

    stroke-width: 5;
    fill: none;

    filter:
        drop-shadow(-1px -1px 0px #000) drop-shadow(1px -1px 0px #000) drop-shadow(1px 1px 0px #000) drop-shadow(-1px 1px 0px #000);

    &UndefinedState {
        stroke: gray;
    }

    &HighState {
        stroke: lime;
    }

    &LowState {
        stroke: red;
    }

}

.ClickableArea {
    stroke-width: 25;
    stroke: transparent;
    fill: none;

    cursor: pointer;
}