.Node {
    position: absolute;
    height: 20px;
    width: 20px;

    cursor: pointer;

    border-radius: 100%;
    border: 2px solid #000;

    &Undefined {
        background-color: lighten(gray, 20%);
    }

    &True {
        background-color: lighten(lime, 20%);
    }

    &False {
        background-color: lighten(red, 20%);
    }
}
