.Button {
    font-size: 14px;
    color: white;
    font-weight: bold;

    text-transform: capitalize;

    border: none;
    border-top: 2px solid #222;
    padding: 4px;

    cursor: pointer;
    user-select: none;
    text-align: center;

    width: 50%;

    &Destruct {
        background-color: red;
        border-right: 2px solid #222;
    }

    &SignBit {
        background-color: aqua;
        color: #333;
    }
}

@mixin namebox(){
    position: absolute;
    font-size: 16px;
    border: 2px solid #222;

    input {
        padding: 5px;
        outline: none;
        border: none;
        user-select: none;
    }
}

.NodeSet {
    position: absolute;
    left: 0;
    right: 0;

    .Node {
        // nodeSet jest ruchomym elementem
        position: relative;
        top: initial;

        // zastapienie miejsca ukrytego handle
        padding: 9px 0;

        &Handle {
            display: none;
        }
    }

    &NameBox {
        @include namebox();

        &Buttons {
            width: 100%;
        }
    }

    &Start {
        .NodeSetNameBox {
            left: 110%;
        }
    }

    &End {
        .NodeSetNameBox {
            right: 110%;
        }
    }

    &Handle {
        width: 100%;
        padding: 15px 0;
        user-select: none;
        cursor: move;

        background-color: #000;
        display: flex;
        align-items: center;
        justify-content: center;

        color: #fff;
    }
}

.Node {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    // style aplikacji to zmieniają
    flex-direction: row;

    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    &Start {
        .NodeButton {
            margin-left: auto;
            margin-right: 0;
        }
        .NodeNameBox {
            left: 110%;
        }
    }
    &End {

        flex-direction: row-reverse;

        .NodeNameBox {
            right: 110%;
        }

        .NodeButton {
            margin-right: auto;
            margin-left: 0;
        }

        .NodeHandle {
            transform: rotate(180deg);
        }
    }

    &Button {
        height: 20px;
        width: 20px;

        cursor: pointer;

        border-radius: 100%;
        border: 1px solid #000;

        &Undefined {
            background-color: lighten(gray, 20%);
        }

        &True {
            background-color: lighten(lime, 20%);
        }

        &False {
            background-color: lighten(red, 20%);
        }
    }
    &Handle {
        $handle-color: #000000;
        cursor: move;

        width: 0;
        height: 0;
        border-style: solid;
        border-width: 18px 0 18px 28px;
        border-color: transparent transparent transparent $handle-color;
        line-height: 0px;
        _border-color: #ffffff #ffffff #ffffff $handle-color;
        _filter: progid:DXImageTransform.Microsoft.Chroma(color=$handle-color);
    }
    &NameBox {
        @include namebox();
    }
}
